# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment variables (Security)
.env
.env.*

# Local builds
dist
build

# Git and IDE files
.git
.vscode
.idea
*.md

# Docker related
Dockerfile
.dockerignore

*.log